dn: {{ ldap_user_base }}
objectClass: organizationalUnit
ou: people

dn: {{ ldap_group_base }}
objectClass: organizationalUnit
ou: groups

dn: {{ ldap_sudo_base }}
objectClass: organizationalUnit
ou: sudoers
