[general]
config_version = 2
full_machine_name = {{ ansible_fqdn }}
start = true
strict_host_checking = false

[slapd]
instance_name = {{ ldap_ds_instance }}
root_password = {{ ldap_ds_root_password }}
port = {{ ldap_server_port }}
secure_port = {{ ldap_server_secure_port }}
self_sign_cert = false

[backend-userroot]
suffix = {{ ldap_base_dn }}
create_suffix_entry = True
