# Copy this file to .env and fill real values
# cp .env.example .env

# LDAP (required for playbooks/01-identity.yml)
export LDAP_BIND_PASSWORD=change_me
# Optional: if empty, role identity-ldap will fallback to LDAP_BIND_PASSWORD
export LDAP_TEST_USER_PASSWORD=change_me

# Slurm DB
export MARIADB_ROOT_PASSWORD=change_me
export MARIADB_SLURM_PASSWORD=change_me

