- name: Create ansible group
  ansible.builtin.group:
    name: ansible
    state: present

- name: Create ansible user
  ansible.builtin.user:
    name: ansible
    comment: "Ansible Automation User"
    group: ansible
    groups: wheel
    shell: /bin/bash
    createhome: yes

- name: Configure sudoers for ansible user
  ansible.builtin.copy:
    dest: /etc/sudoers.d/ansible
    content: "ansible ALL=(ALL) NOPASSWD: ALL\n"
    mode: '0440'
    validate: '/usr/sbin/visudo -cf %s'

- name: Create .ssh directory
  ansible.builtin.file:
    path: /home/ansible/.ssh
    state: directory
    owner: ansible
    group: ansible
    mode: '0700'

- name: Ensure .ssh directory exists for managed users
  ansible.builtin.file:
    path: "/home/{{ item }}/.ssh"
    state: directory
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: '0700'
  loop: "{{ os_ssh_authorized_users }}"

- name: Install control-node public key for managed users
  ansible.builtin.authorized_key:
    user: "{{ item }}"
    state: present
    key: "{{ lookup('file', os_ssh_pubkey_path) }}"
  loop: "{{ os_ssh_authorized_users }}"

- name: Configure sudoers for hpcadmin user
  ansible.builtin.copy:
    dest: /etc/sudoers.d/hpcadmin
    content: "hpcadmin ALL=(ALL) NOPASSWD: ALL\n"
    mode: '0440'
    validate: '/usr/sbin/visudo -cf %s'