<?xml version="1.0" encoding="UTF-8"?>
<channel name="xfce4-power-manager" version="1.0">
  <property name="xfce4-power-manager" type="empty">
    <property name="dpms-enabled" type="bool" value="{{ gui_xfce_pm_dpms_enabled | default(false) | bool | ternary('true','false') }}"/>
    <property name="blank-on-ac" type="int" value="{{ gui_xfce_pm_blank_on_ac | default(0) | int }}"/>
    <property name="dpms-on-ac-sleep" type="int" value="{{ gui_xfce_pm_dpms_on_ac_sleep | default(0) | int }}"/>
    <property name="dpms-on-ac-off" type="int" value="{{ gui_xfce_pm_dpms_on_ac_off | default(0) | int }}"/>
    <property name="lock-screen-suspend-hibernate" type="bool" value="{{ gui_xfce_pm_lock_screen_suspend_hibernate | default(false) | bool | ternary('true','false') }}"/>
  </property>
</channel>