[sssd]
services = nss, pam, ssh, sudo
config_file_version = 2
domains = {{ freeipa_domain }}

[domain/{{ freeipa_domain }}]
id_provider = ipa
ipa_server = {{ freeipa_hostname | default(ansible_fqdn) }}
ipa_hostname = {{ freeipa_hostname | default(ansible_fqdn) }}
ipa_domain = {{ freeipa_domain }}
ipa_server_mode = True
auth_provider = ipa
chpass_provider = ipa
access_provider = ipa
cache_credentials = True
ldap_tls_cacert = /etc/ipa/ca.crt
krb5_store_password_if_offline = True
override_homedir = /home/%u

[nss]
homedir_substring = /home

[pam]
offline_credentials_expiration = 2

[sudo]

[autofs]

[ssh]

[pac]

[ifp]
