---

- name: 02 - Storage (NFS server)
  hosts: storage
  gather_facts: true
  become: true

  pre_tasks:
    - name: Verify network connectivity
      ansible.builtin.ping:

  roles:
    - nfs-server


- name: 02 - Storage (NFS clients)
  hosts: head,login,compute
  gather_facts: true
  become: true

  pre_tasks:
    - name: Verify network connectivity
      ansible.builtin.ping:

  roles:
    - nfs-client


- name: 02 - Reboot storage nodes
  hosts: storage
  gather_facts: false
  become: true

  roles:
    - role: reboot
      vars:
        reboot_msg: "Rebooting storage node after NFS configuration"